[Unit]
Description=OpenMRS Tomcat Service
After=network.target

[Service]
Type=forking

User=root
Group=root

Environment="JAVA_HOME={{ java_home }}"

Environment="CATALINA_BASE={{ tomcat_home }}"
Environment="CATALINA_HOME={{ tomcat_home }}"
Environment="CATALINA_PID={{ tomcat_home }}/temp/tomcat.pid"

ExecStart={{ tomcat_home }}/bin/startup.sh
ExecStop={{ tomcat_home }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target